${license}


import adventutil


def get_part1_answer(lines):
    return None


def get_part2_answer(lines):
    return None


def run():
    lines = adventutil.get_input_file_lines("input-${advent_year}-day${day}.txt")
    print(f"The answer to part 1 is {get_part1_answer(lines)}")
    print(f"The answer to part 2 is {get_part2_answer(lines)}")
